@import "tailwindcss";

@theme {
  --color-primary-500: oklch(0.72 0.11 178);
  --color-secondary-200: rgb(185, 13, 13);
  --font-bun: "Bungee Spice", sans-serif;
}

@layer components {
  .card {
    width: 30%;
    background-color: var(--color-white);
    border-radius: 15px;
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.692);
    margin-block: 10px;
  }
}
